<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <form action = "http://localhost:5000/login" method = "post">
         <p>Enter host address: <input type = "text" name = "hostName" value="192.168.15.63"/></p>
         <p>User name: <input type = "text" name = "dbUserName" value="root" /></p>
         <p>Password: <input type = "text" name = "dbPassword" value="softinc"/></p>
         <p>Enter schema:<input type = "text" name = "schemaName" value="mj_db"/></p>
         <p>Enter table name:<input type = "text" name = "tableName" value="t_1"/></p>
         <p>Enter field id: <input type="text" name = "id" value="f1"/></p>
         <p>Enter Search field: <input type="text" name = "searchField" value="f2"/></p>
         <p>Enter Insert field: <input type="text" name = "insertField" value="f4"/></p>
         <p>Where condition if any: <input type="text" name = "whereCondition" value=""/></p>
         <p>Regular expression in (): <input type="text" name = "reString" value="(.*)"/></p>
         <p>Group number: <input type = "text" name = "gNo" value="1"/></p>
         <p>Replace(r) or String(s): <input type="text" name="rOrS" value="s"/> </p>
         <p>Replace string: <input type = "text" name = "replaceString" value=""/></p>
         <p><input type = "submit" value = "submit" /></p>
         </form>
</body>
</html>